:root
{
	/*colores*/
	--green-color:#7ACC2D;
	--white-color:#ffffff;
	--black-color:#313337;

	/*align and position*/
	--centrar:center;

	/*box-shadow*/
	--box:6px 4px 30px 0px rgba(0,0,0,0.72);
}
body
{
	margin: 0;
	padding: 0;
    font-family: 'Open Sans', sans-serif;
}

figure
{
	margin: 0;
}

.navbar {
    display: grid;
    grid-template-columns: auto auto;
    align-items: var(--centrar);
    justify-content: space-between;
    max-width: 1080px;
    margin: auto;
    height: 60px;
    align-content: var(--centrar);
    padding: 0 20px;
}

.navbar ul
{
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
	grid-gap: 30px;
	list-style: none;
}

header
{
	    background:var(--green-color);
}

.navbar ul.lista li a
{
	color: #313337;
	text-decoration: none;
	cursor: pointer;
}

.message
{
	margin: auto;
    margin-top: auto;
	max-width: 733px;
	font-size: 30px;
	text-align: var(--centrar);
	line-height: 41px;
	font-weight: 800;
	margin-top: 100px;
	margin-bottom: 250px;
}

.fondo
{
    background-image: url(../images/curve.png);
    height: 340px;
    background-position: var(--centrar) top;
    background-repeat: no-repeat;
    background-size: cover;
}

.shop
{
	display: grid;
    grid-template-columns: auto auto;
    max-width: 800px;
    margin: auto;
    text-align: var(--centrar);
    grid-gap: 70px;
}

.product
{
	background:var(--white-color);
	margin-top: -200px;
	padding: 25px;
	box-shadow: var(--box);
}

div.product button
{
	background:var(--green-color);
	border: none;
	padding: 10px 30px;
	font-size: 17px;
	color:
	white;
	font-weight: 500;
}

.second {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
    margin: auto;
        margin-top: auto;
        margin-bottom: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-top: 20%;
    text-align: var(--centrar);
    grid-gap: 150px;
    align-content: var(--centrar);
    margin-bottom: 0%;
    justify-content: space-around;
    grid-gap: 15%;
    padding: 0 20px;
}

.second img
{
	max-width: 100%;
	width: 100%;
}
.section-testimonials
{
	display: grid;
	grid-template-columns: auto auto auto auto;
	max-width: 1200px;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
	grid-gap: 20px;
	padding: 0 20px;
}

.section-testimonials img
{
	max-width: 100%;
	width: 100%;
}

.title-testimonials
{
	text-align: center;
	margin-top: 100px;
	margin-bottom: 50px;
}

.testimonials
{
	box-shadow:var(--box) ;

}

footer
{
	display: grid;
	grid-template-columns: 200px 1fr 200px;
	justify-content: space-between;
	background:var(--black-color);
	padding: 5px 20px;
	color: var(--white-color);
}

footer p.email
{
	grid-column-start: 3;
}

/*page products*/

.subcontainer
{
	max-width: 1000px;
	margin: auto;
	margin-bottom: 10%;
	padding: 0 20px;
}
.grid-productos
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "imagen1 texto1 texto1"
							"texto2 texto2 imagen2"
							"imagen3 texto3 texto3";
}

.grid-productos img
{
	max-width: 100%;
	width: 100%;
}

.primero
{
	grid-column: span 2;
	align-self: center;
}

.titel
{
	max-width: 1200px;
	margin: auto;
	margin-bottom: 5%;
}

.imagen1
{
	grid-area: imagen1;
}

.imagen2
{
	grid-area: imagen2;
}

.imagen3
{
	grid-area: imagen3;
}

.texto1
{
	grid-area: texto1;
}

.texto2
{
	grid-area: texto2;
}

.texto3
{
	grid-area: texto3;
}

.grid-form
{
	display: grid;
	max-width: 650px;
	margin: auto;
	grid-template-columns: 40% 60%;
	margin: 20% 0;
}

.grid-form img
{
	max-width: 100%;
	width: 100%;
}

.centrar
{
	max-width: 650px;
	margin: auto;
}

.seccion2
{
	display: grid;
}

.grid-productos img
{
	width: 100%;
	max-width: 100%;
}

@media screen and (max-width: 1050px)
{
	.second
	{
		grid-gap: 10px;
	}
}

@media screen and (max-width: 850px)
{
		.product
	{
		margin-top: 0px;
	}

	.shop
	{
    grid-template-columns: 1fr;
    max-width: 700px;
    padding: 0 20px;
	}

	.second
	{
		grid-template-columns: 1fr;
	}

	.section-testimonials
	{
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 768px)
{
		.grid-productos
	{
		grid-template-areas: "imagen1"
							"texto1"
							"imagen2"
							"texto2"
							"imagen3"
							"texto3";
		grid-gap: 10px;
		grid-template-columns: 1fr;
		grid-row-gap: 50px;
	}

		.primero
	{
		grid-column: span 1;
		align-self: center;
	}
}

@media screen and (max-width: 500px)
{
	.navbar
	{
		grid-template-columns: 1fr;
		justify-items: center;
		height: 120px;
	}

	footer
	{
		grid-template-columns: 1fr;
		justify-items:center;
	}

	footer p.email {
    grid-column-start: inherit;
}
}